* {

}

p{

}

/* id 선택자*/
#foo {

}

/* class 선택자 */
.foo {

}

/* 어트리뷰트 선택자 : input 요소 중에 type 어트리뷰트 값이 text인 요소*/
input[type=text]{

}

div p {

}

div > p {

}

/* 인접 형제 선택자 : p 요소의 형제 요소 중 p 요소 바로 뒤에 위치하는 ul 요소*/
p + ul {
  color:blue
}

/* 일반 형제 선택자 : p 요소의 형제 요소 중 p 요소 뒤에 위치하는 ul 요소를 모두 선택 */
p ~ ul {
  color:red
}

/* 가상 클래스 선택자 : hover 상태인 a 요소를 모두 선택 */
a:hover {

}

/* 가상 요소 선택자 : p 요소의 컨텐츠의 앞에 위치하는 공간 선택. content 프로퍼티와 함께 자주 사용 */
p::before{

}